.recipeCard{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0,0,0.2);
    border-radius: 10px;
    font-family:serif;
    color: rgb(31, 29, 29);
}
.reciprName{
   
    font-size: 24px;
    margin-bottom: 10px;
}
.recipeImg{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius:5px;
    height: auto;
}
.recipeDetails{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipeInstr{
    padding: 0px;
    border-radius: 5px;
    color: #3b3737;
}
.recipeInstr ol{
    margin-left: 0px;

}
.recipeInstr li{
    margin: 10px 0px;

}